@use "../app/variables" as var;

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
    margin-bottom: 4.5em;
}

.mainContainer__textDiv {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.mainContainer__textDiv__heading {
    font: {
        size: 2.625rem;
        weight: var.$fw-black;
    }
    line-height: 1em;
}

.mainContainer__textDiv__paragraph {
    line-height: 1.75em;
    color: hsl(var.$clr-darkBlue);
}

.mainContainer__textDiv__button {
    background-color: hsl(var.$clr-red);
    border: none;
    padding: 1.125em 2.5em;
    width: fit-content;
    height: fit-content;
    color: hsl(var.$clr-white) !important;
    font: {
        size: 0.875rem;
        weight: var.$fw-bold;
    }
    letter-spacing: 0.325rem;
    &:hover {
        background-color: hsl(var.$clr-veryDarkBlue);
    }
}

@media screen and (min-width: 768px) {
    .mainContainer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .mainContainer__textDiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.375em;
    }
    .mainContainer__textDiv__heading {
        font-size: 3.625rem;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .mainContainer__textDiv__paragraph {
        line-height: 1.5em;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .mainContainer__textDiv__button {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}